.home {
    padding: 0px 10px;
    padding-bottom: 100px;
  }
  
  .hero {
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  
  .hero h1 {
    font-size: max(4vw, 36px);
  }
  
  .hero p {
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
  }
  
  .hero form {
    padding: 8px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
  }
  
  .hero input {
    flex: 1;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
    min-width: 80px;
  }
  
  .hero button {
    border: none;
    background: #7927ff;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .crypto-table {
    max-width: 800px;
    margin: auto;
    background: linear-gradient(rgba(84, 3, 255, 0.15), rgba(105, 2, 153, 0.15));
    border-radius: 15px;
    overflow-x: auto;
  }
  
  .table-layout {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
  }
  
  .market-cap {
    text-align: right;
  }
  
  .table-layout:last-child {
    border: none;
  }
  
  .table-layout div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .table-layout div img {
    width: 35px;
  }
  
  .table-layout .green {
    color: #00d515;
    text-align: center;
  }
  
  .table-layout .red {
    color: #ff4646;
    text-align: center;
  }
  
  /* Tablet */
  @media (max-width: 768px) {
    .table-layout {
      grid-template-columns: 0.5fr 3fr 1fr 1fr;
    }
  
    .market-cap {
      display: none;
    }
  }
  
  /* Phones */
  @media (max-width: 500px) {
    .table-layout {
      font-size: 13px;
      padding: 10px;
      grid-template-columns: 0.4fr 2fr 1fr 1fr;
    }
  
    .table-layout div img {
      width: 25px;
    }
  }
  
  /* Thin Phones */
  @media (max-width: 360px) {
    .hero h1 {
      font-size: 24px;
    }
  
    .hero p {
      font-size: 14px;
      width: 100%;
    }
  
    .table-layout {
      font-size: 11px;
      grid-template-columns: 0.3fr 2.2fr 1fr;
    }
  
    .table-layout p:nth-child(4),
    .market-cap {
      display: none;
    }
  
    .table-layout div img {
      width: 20px;
    }
  }
  